/* Give the back-ground color here -- try to keep margin/padding at 0 */
#mybrowser {
  background-color: #87aade;
}

/* These three following elements give the global alignments */
#wk-buttontopbox {
  margin: 12px 12px 0 12px;
}

#wk-gridApplication {
  margin: 12px 12px 0 12px;
}

#wk-statusbar {
  margin: 10px 12px 10px 12px;
}

/* Sidebar title */
.sidebar-title {
  font-size: 14px;
}

/* Score colored bar behind answers. Do not specify the width field ! */
.score-slide {
  margin: 0.5px 0px 0.5px 0px;
  height: 10px; 
  background-color: #88A;
}

/* Text of answers */
.answer-label {
  color: #000;
  width: 170px;
  cursor: pointer;
  padding-top: 3px;
  font-size: 15px;
}

/* Related vocabulary text */
.vocspe-label {
  cursor: pointer;
}

#wk-addressbar {
  margin-top: 3px;
  width: 70%;
}

#wk-browser {
  border: #FFFFFF solid;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}

#wk-blockSearch {
  -moz-appearance: none; 
  background-color: white;
  margin: 0px 0px 5px 0px;
}

#wk-blockResult {
  border-right: 1px solid #000000;
  margin-right: 5px;
}

#wk-blockHistory {
  border-right: 1px solid #000000;
  margin-right: 5px;
}

#wk-resultat {
  width: 200px;
}

#wk-history {
  width: 200px;
}

#wk-recherche {
  font-size: 14px;
  -moz-appearance: none; 
  -moz-border-radius: 3px;
  padding-top: 3px;
  border: solid 1px #000000;
}

.lab-titre {
  font-size: 14px;	
  padding-top: 6px;
  margin-left: 0px;
  padding-left: 0px;
  font-weight: bold; 
}

#wk-descriptionSearch {
  font-size: 14px;	
  padding-top: 6px;
  margin-left: 0px;
  padding-left: 0px;
  font-weight: bold; 
}

/* Image related elements */
#wk-earth {
  list-style-image: url(img/wiki/earth.png);
}

#wk-book {
  list-style-image: url(img/wiki/book.png);
}

#wk-search-button {
  list-style-image: url(img/wiki/ok.png);
  width: 51px;
  height: 32px;
  padding: 2px;
  cursor: pointer;
}

#wk-searchin-button {
  list-style-image: url(img/wiki/searchalph03.png);
  width: 51px;
  height: 32px;
  padding: 2px;
  cursor: pointer;
}

#wk-searchinside-button {
  list-style-image : url(img/wiki/ok.png);
  cursor: pointer;
}

#wk-ok-image {
  margin: 0px;
  padding: 0px;
  width: 30px;
  height: 20px;
  list-style-image: url(img/wiki/txt_coin_bas_ga.png);
  cursor: pointer;
}

.img-close {
  margin-top: 3px;
  margin-right: 4px;
  margin-bottom: 10px;
  height: 14px;
  width: 14px;
  cursor: pointer;
  list-style-image: url(img/wiki/close.png);
}

/* logo */
#wk-imageWikipedia {
  list-style-image: url(img/wiki/logowiki.png)
}

/* Images des contours de l'applications. */
#wk-imageHautGauche {
  list-style-image: url(img/wiki/txt_coin_haut_ga.png);
}

#wk-imageHautMilieu {
  list-style-image: url(img/wiki/txt_haut_milieu.png);
}

#wk-imageHautDroite {
  list-style-image: url(img/wiki/txt_coin_haut_dr.png);
}

#wk-imageMilieuGauche {
  list-style-image: url(img/wiki/txt_milieu_ga.png);
}

#wk-imageMilieuDroite {
  list-style-image: url(img/wiki/txt_milieu_dr.png);
}

#wk-imageBasGauche {
  list-style-image: url(img/wiki/txt_coin_bas_ga.png);
}

#wk-imageBasMilieu {
  list-style-image: url(img/wiki/txt_bas_milieu.png);
}

#wk-imageBasDroite {
  list-style-image: url(img/wiki/txt_coin_bas_dr.png);
}

/* Images des boutons de navigations de l'applications. */
#wk-precedent {
  list-style-image: url(img/wiki/precedent01.png);
  cursor: pointer;
}

#wk-precedent:hover {
  list-style-image: url(img/wiki/precedent02.png);
  cursor: pointer;
}

#wk-suivant {
  list-style-image: url(img/wiki/suivant01.png);
  cursor: pointer;
}

#wk-suivant:hover {
  list-style-image: url(img/wiki/suivant02.png);
  cursor: pointer;
}

#wk-home {
  list-style-image: url(img/wiki/home01.png);
  cursor: pointer;
}

#wk-home:hover {
  list-style-image: url(img/wiki/home02.png);
  cursor: pointer;
}

#wk-search {
  list-style-image: url(img/wiki/search01.png);
  cursor: pointer;
}

#wk-search:hover {
  list-style-image: url(img/wiki/search02.png);
  cursor: pointer;
}

#wk-favorit {
  list-style-image: url(img/wiki/favori01.png);
  cursor: pointer;
}

#wk-favorit:hover {
  list-style-image: url(img/wiki/favori02.png);
  cursor: pointer;
}

#wk-print {
  list-style-image: url(img/wiki/print01.png);
  cursor: pointer;
}

#wk-print:hover {
  list-style-image: url(img/wiki/print02.png);
  cursor: pointer;
}
