# C/C++
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a

# Autotools & co
.deps
.deps/*
.libs
.libs/*
Makefile
Makefile.in
configure
configure.scan
config.guess
config.log
config.status
config.sub
autom4te.cache
autom4te.cache/*
*.gch
depcomp
install-sh
ltmain.sh
missing
aclocal.m4
libtool
src/zimlib/src/stamp-h1

# Dependencies
src/dependencies/*.bz2
src/dependencies/*.tar
src/dependencies/*.zip
src/dependencies/*.exe
src/dependencies/*
src/zimlib/src/config.h
!src/dependencies/Makefile.am
!src/dependencies/patches

# Android
android/*.apk
android/*.ap_
android/*.dex
android/*.class
android/bin/
android/gen/
android/.gradle/
android/build/
android//*/build/
android/local.properties
android/proguard/
android/*.log
android//.idea/workspace.xml
android/.settings
android/*.iml
*.keystore

# OSX
kiwix-0.9-i386.dmg
kiwix-0.9-x86_64.dmg
kiwix-0.9.dmg
kiwix-0.9s.dmg
compile
.DS_Store

# OSXFuse
.apdisk

# Xulrunner
*.xpt
kiwix/chrome/chrome.manifest
src/components/cluceneAccessor/ICluceneAccessor.h
src/components/contentManager/IContentManager.h
src/components/serverManager/IServerManager.h
src/components/xapianAccessor/IXapianAccessor.h
src/components/zimAccessor/IZimAccessor.h
src/components/zimCluceneIndexer/IZimCluceneIndexer.h
src/components/zimXapianIndexer/IZimXapianIndexer.h
src/indexer/kiwix-index
src/installer/kiwix-install
src/launcher/kiwix-launcher
src/manager/kiwix-manage
src/server/kiwix-serve
src/reader/kiwix-read
src/searcher/kiwix-search

# Buildbot
*.pyc
ftp_pass.py
.DS_Store
.dirstamp
._.*

# Other
*~
\#*\#
.\#*
kiwix/chrome/*.jar
