/*<pre><nowiki>*/

/* wikitable/prettytable class for skinning normal tables */

table.wikitable,
table.prettytable {
  margin: 1em 1em 1em 0;
  background: #f9f9f9;
  border: 1px #aaaaaa solid;
  border-collapse: collapse;
}

table.wikitable th, table.wikitable td,
table.prettytable th, table.prettytable td {
  border: 1px #aaaaaa solid;
  padding: 0.2em;
}

table.wikitable th,
table.prettytable th {
  background: #f2f2f2;
  text-align: center;
}

table.wikitable caption,
table.prettytable caption {
  margin-left: inherit;
  margin-right: inherit;
}

/* Style for "notices" */
.notice {
    text-align: justify;
    margin: 1em;
    padding: 0.2em;
}

#disambig {
    border-top: 3px double #cccccc; 
    border-bottom: 3px double #cccccc;
}

#spoiler {
    border-top: 2px solid #ddd;
    border-bottom:2px solid #ddd;
}

/* Standard talk template style */

.Talk-Notice  {
    border: 1px solid #C0C090;
    background-color: #F8EABA;
    margin-bottom: 3px;
    width: 85%;
    border-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
}

/* Make template background appear correctly on all browsers */
.Talk-Notice td {
    background: inherit;
}

/* Choose whether to have AD/BC dates or CE/BCE dates*/

/* First, the default : display both : See templates ADCE and BCEBC for how these are used*/
.Use_Default_Date_Convention { display: inline; }
.Use_AD_and_BC { display: none; }
.Use_BCE_and_CE { display: none; }

/* If you want to display AD and BC add the following to User:You/monobook.css page */
/*
.Use_Default_Date_Convention { display: none; }
.Use_AD_and_BC { display:inline; }
.Use_BCE_and_CE { display:none; }
*/

/*If you want to display CE and BCE add the following to User:You/monobook.css page */
/*
.Use_Default_Date_Convention { display: none; }
.Use_AD_and_BC { display:none; }
.Use_BCE_and_CE {display:inline; }
*/

/*Add formatting to make sure that "external references" from [[Template:Ref]] do
  not get URL expansion, not even when printed. The mechanism up to MediaWiki 1.4 was
  that the HTML code contained a SPAN following the anchor A; this SPAN had the class
  "urlexpansion", which was not displayed on screen, but was shown when the medium was
  "print". The rules below ensure (a) that there is no extra padding to the right of
  the anchor (displayed as "[<number>]"), (b) that there is no "external link arrow" for
  the link, and (c) that this SPAN of class "urlexpansion" is never shown.
  ~~~~
*/

.plainlinksneverexpand {
  background: none ! important;
  padding: 0 ! important;
}

.plainlinksneverexpand .urlexpansion {
  display : none ! important;
}

/* Make sure that ext links displayed within "plainlinksneverexpand" don't get
   the arrow...
*/
.plainlinksneverexpand a {
   background: none !important;
   padding: 0 !important
}

/* With MediaWiki 1.5, the mechanism has changed: instead of a SPAN of class "urlexpansion"
   following the anchor A, the anchor itself now has class "external autonumber" and the
   expansion is inserted when printing (see the common printing style sheet at
   http://en.wikipedia.org/skins-1.5/common/commonPrint.css) using the ":after" pseudo-
   element of CSS. We have to switch this off for links due to Template:Ref!
   ~~~~
*/
.plainlinksneverexpand a.external.text:after {
  display: none !important;
}
.plainlinksneverexpand a.external.autonumber:after {
  display: none !important;
}

/* Merge template style */

.messagebox {
   border: 1px solid #aaaaaa;
   background-color: #f9f9f9;
   width: 85%;
   margin: 0 auto 1em auto;
   padding: .2em;
   text-align: justify;
}
.messagebox.merge {
   border: 1px solid #cf9fff;
   background-color: #f5edf5;
   text-align: center;
}
.messagebox.cleanup {
   border: 1px solid #9f9fff;
   background-color: #efefff;
   text-align: center;
}
.messagebox.standard-talk {
   border: 1px solid #c0c090;
   background-color: #f8eaba;
}

/* Infobox template style */

.infobox {
   border: 1px solid #aaaaaa;
   background-color: #f9f9f9;
   color: black;
   margin-bottom: 0.5em;
   margin-left: 1em;
   padding: 0.2em;
   float: left;
   clear: left;
}
.infobox td,
.infobox th {
   vertical-align: top;
}
.infobox caption {
   font-size: larger;
   margin-left: inherit;
}
.infobox.bordered {
   border-collapse: collapse;
}
.infobox.bordered td,
.infobox.bordered th {
   border: 1px solid #aaaaaa;
}
.infobox.bordered .borderless td,
.infobox.bordered .borderless th {
   border: 0;
}

.infobox.sisterproject {
   width: 20em;
   font-size: 90%;
}

/* Support for Template:IPA, Template:Unicode and Template:Polytonic. The inherit declaration resets the font for all browsers except MSIE6.  The empty comment must remain. */
.IPA {
        font-family: Chrysanthi Unicode, Doulos SIL, Gentium, GentiumAlt, Code2000, TITUS Cyberbit Basic, DejaVu Sans, Bitstream Vera Sans, Bitstream Cyberbit, Arial Unicode MS, Lucida Sans Unicode, Hiragino Kaku Gothic Pro, Matrix Unicode;
        font-family /**/:inherit;
}
.Unicode {
        font-family: TITUS Cyberbit Basic, Code2000, Doulos SIL, Chrysanthi Unicode, Bitstream Cyberbit, Bitstream CyberBase, Bitstream Vera, Thryomanes, Gentium, GentiumAlt, Visual Geez Unicode, Lucida Grande, Arial Unicode MS, Microsoft Sans Serif, Lucida Sans Unicode;
        font-family /**/:inherit;
}
.polytonic {
        font-family: Athena, Gentium, Palatino Linotype, Arial Unicode MS, Lucida Sans Unicode, Lucida Grande, Code2000; 
        font-family /**/:inherit;
}

#wpSave {
  font-weight: bold;
}


/* CSS for testing a new Main Page design, see [[Wikipedia:WikiProject Usability/Main Page]] */

#EnWpMainPage { width: 100%; margin-top: 1em; }
#EnWpMainPage h2 { font-size: 130%; font-weight: bold; margin: 0; padding: 0; border: 0; }
#EnWpMpMargin { margin-right: 13.8em; }
#EnWpMpCol1 { float: left; clear: left; width: 50%; }
#EnWpMpCol2 { width: 49.9%; float: left; }
#EnWpMpBrowse { background: #f8fcff url(http://upload.wikimedia.org/wikipedia/en/9/9f/MP-three-books.png) no-repeat 180% 9%; border: 1px solid #c7c7c7; }
#EnWpMpBrowseCats li { font-size: 85%; margin-left: 1em; line-height: 1.5; }
#EnWpMpBrowseCats h3 { font-size: 120%; margin: .2em 0 .1em -.8em; padding: 0; font-weight: normal; }
#EnWpMpBrowseCats h3 a { font-weight: bold; }
#EnWpMpBook { background-image: url(http://upload.wikimedia.org/wikipedia/en/7/7e/MP-open-book.png); }
#EnWpMpFeaturedPic { text-align: center; margin: 0 0 .5em; font-size: 85%; font-weight: bold; }
#EnWpMpFeaturedPic h2 { font-size: 145%; text-align: left; }
.EnWpMpBrowseRight { float: right; width: 12.7em; }
.EnWpMpBrowseBottom { margin: 1em 0; }
.EnWpMpBrowseBottom #EnWpMpBrowseCats li, .EnWpMpBrowseBottom #EnWpMpUsefulLinks, .EnWpMpBrowseBottom #EnWpMpFeaturedPic { float: left; width: 24%; margin: 0; line-height: auto; }
.EnWpMpBrowseBottom #EnWpMpBrowseCats h3 { margin-left: 0; }
#EnWpMpUsefulLinks { clear: left; }
#EnWpMpSearch { background: url(http://upload.wikimedia.org/wikipedia/en/a/ae/MP-magnifying-glass.png) no-repeat top right; }
#EnWpMpSearch input { vertical-align: middle; }
#EnWpMpSearchInner { float: right; width: 20em; text-align: center; }
#bodySearchMP { margin: 0; padding: 0; }
#bodySearchMP .bodySearchWrap { float: right; width: 17.5em; text-align: left; padding: .8em 0; }
#bodySearchMP label { display: block; font-size: 95%; font-weight: bold; margin-bottom: -.2em; }
#bodySearchMP .bodySearchIput { opacity: .85; filter: alpha(opacity=85); }
#bodySearchMP .bodySearchBtnGo { font-weight: bold; padding-left: .3em; padding-right: .3em; margin-left: .5em; }
.EnWpMpContentBox { border: 1px solid; margin-bottom: .9em; }
#EnWpMpCol2 .EnWpMpContentBox { margin-left: .9em; }
.EnWpMpImage { float: right; margin: 0 0 .2em .2em; }
.EnWpMpImage img { position: relative; z-index: 3; }
#EnWpMpSisterProjects { float: left; width: 49%; }
.EnWpMpSisterProject { float: left; width: 17em; margin: 0; height: 5.5em; margin: 0; }
.EnWpMpSisterImg { float: left; width: 40px; height: 100%; }
#EnWpMpOtherLangs { margin-left: 50%; }
#EnWpMainPageNoCSS { display: none; }

/* default skin for navigation boxes */
table.navbox {
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    clear: both;
    font-size: 90%;
    margin: 1em 0em 0em;
    padding: 2px;
    text-align: center;
    width: 100%;
}

table.navbox th {
    background-color: #ccf;
    padding-left: 1em;
    padding-right: 1em;
}

table.navbox tr:not(:first-child) th {
    background-color: #ddf;
}

@media print {
    .navbox {
        display: none;
    }
/*</nowiki></pre>*/
