/* real CSS styles for well behaved browsers */
/* hicksdesign.co.uk */

/* Grid system: 85px/15px */

/* import CSS for compliant browsers */
/* ------------------------------------------------------- */
@import url(typography2.css);


/* stops the nasty horizontal shift with centered layouts in moz etc */
html { margin-bottom: 1px; }

/* overrule basic.css styles */
body {
	background-color: #f2f2f2 !important; 
	padding: 0 0 20px 0;
	}


/* positioning */

/* Clear fix */
.clear:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

#wrapper {
	width: 770px;
	background: #fff;
	margin: 0 auto 0 auto;
	border: 1px solid #e0e0e0;
	border-top:0;
	position: relative;
	z-index: 1;
}

#header,
#content,
#footer,
.content {
	width: 674px;
	clear: both;
	margin: 0 auto;
	position: relative;
}

#logo {
	margin: 0px 0 0 -15px;
}

#nav {
	margin: -30px 0 0 75px;
}

#nav a {
	display: block;
	background-color: #ddd;
	background-repeat: repeat-x;
	background-position: 0% -1.3em;
	float: right;
	text-decoration: none;
	line-height: 2em;
	text-align: center;
	color: #990000;
	font-size: 13px;
	padding:0 20px 0 20px;
}

#nav a:hover {
	background-color: #999;
	color: #fff;
}

#home .n-home a,
#wikipedia .n-wikipedia a,
#autres .n-autres a,
#credits .n-credits a,
#help .n-help a {
 color: #fff;
 background-color: #990000;
}

#nav li {
 display:inline;
}

#test {
	height: 10px;
	background-color: #990000;
	margin: 0;
	padding: 0 55px;
	position: relative;
}

#search {
	background-color: #990000;
	margin: 0;
	padding: 0 55px;
	position: relative;
	display: none;
}

#home #search {
	background-color: #990000;
}


#content, .content {
	margin: 0 auto;
}

#footer {
	padding: 1.5em 0;
	border-top: 1px solid #ccc;
	overflow: auto;
}

#footer p {
	font-size: 10px;
	color: #666;
	width: 650px;
	float: right;
	margin: 0 15px 0 0;
}

#firstline {
	font-weight: bold;
	font-size: 12px;
	color: #333;
}

#footer ul {
	font-size: 10px;
	color: #666;
	margin: 0;
	padding: 0;
}

#footer li {
	display: inline;
}

#footer li {
	margin: 0 5px 0 0;
	padding: 0 3px 0 0;
	border-left: 1px solid #ccc;
}

#footer li.last {
	border-left: 0 !important;
	}


/* misc styles */

img {
	display: block;
	border: 0;
	margin: 6px 0;
}

img .inline {
	display: inline;
}

.hide  {
	display: none;
}
.fr {
	float: left;
	margin: 0 0 6px 15px;
}
.fl {
	float: right;
}
.nowrap {
	white-space: nowrap;
}

/* */
#search-go { width:auto; margin:10px 20px 30px 0; }
#search h2 { padding-top:.5em; }
#search-query, #project { width:250px; margin:10px 10px 30px 0; }
#search p { color:white; }
input, select { color: black; }

#nav2 {
	margin: 0 0 0 0;
	width:745px;
	background-color: #ddd;
	background-repeat: repeat-x;
	background-position: 0% -1.3em;
	padding-right:35px;
}

#nav2 a {
	display: block;
	float: right;
	text-decoration: none;
	line-height: 2em;
	text-align: center;
	color: #990000;
	font-size: 13px;
	padding:0 20px 0 20px;
}

#nav2 a:hover, #nav2 li.n2-root a {
	color: #333;
}
#autres.wikiquote.selection .n2-selection a,
#autres.wikibooks.selection .n2-selection a,
#autres.wikisource.selection .n2-selection a,
#wikipedia.portal .n2-portal a,
#wikipedia.good .n2-good a,
#wikipedia.quality .n2-quality a,
#wikipedia.category .n2-category a {
	color: #333;
	margin:0;
	padding: 0 55px;
	position: relative;
}

#autres.wikiquote.selection .n2-selection a,
#autres.wikibooks.selection .n2-selection a,
#autres.wikisource.selection .n2-selection a,
#wikipedia.portal .n2-portal a,
#wikipedia.good .n2-good a,
#wikipedia.quality .n2-quality a,
#wikipedia.category .n2-category a {
	color: #333;
}

#nav2 li {
 display:inline;
}

#content ul,
.content {
	list-style-type: square;
}

#content li em,
.content li em {
	font-style: normal;
	font-weight: bold;
}

li.projectlist a {
	font-size: 1.5em;
	text-decoration: none;
	color: black;
}
li.projectlist img {
	border: 0;
	display: inline;
	vertical-align: middle;
}

#content h3 a,
.content h3 a { 	
	text-decoration: none;
	font-size:14px;
	font-weight:bold;
	margin:16px 0 2px 0;
	color: #000;
}

#content li a,
.content li a {
	font-weight: normal;
}

.search-nav, .project-header {
	margin: 0px 0 0px 0;
	width:745px;
	height:2em;
	background-color: #ddd;
	background-repeat: repeat-x;
	padding-right:35px;
}

.project-header {
	width: 740px;
	line-height: 2em;
	background-color: #ddd;
	color: #333;
	font-size: 13px;
	padding:0 20px 0 20px;
	margin-bottom: 1px;
}

.project-header .project { 
	font-weight: bold;
}

.project-header.selected {
	background-color: #333;
	color: white;
}

.project-header.unselected {
	background-color: #ddd;
	color: #333;
}

.project-header.unselected:hover {
	cursor: pointer;
}

.search-nav a {
	display: block;
	float: right;
	text-decoration: none;
	line-height: 2em;
	text-align: center;
	color: #990000;
	font-size: 13px;
	padding:0 20px 0 20px;
}

.search-nav a:hover, .search-nav li.n-search-sel a {
	color: #333;
}

.search-nav li {
 display:inline;
}

#content .leftcol,
.content .leftcol {
	padding-top:15px;
	padding-left: 5px;
	width: 425px;
	float: right;
/*	background-color: green;*/
}

#content .rightcol,
.content .rightcol {
	padding-right:5px;
	width: 239px;
	float: left;
/*	background-color: blue;*/
}

#content .rightcol ul,
.content .rightcol ul {
	list-style-type: none;
	margin-right:0;
}

.rightcol a { font-weight: normal; }
.leftcol a { text-decoration: none; }

#content ul li img,
.content ul li img { vertical-align: middle; display: inline; }

.hidden {
	display: none;
}
