
div.editsection {
	display:none;
}

#column-content {
	margin: 0 0 0em 0em;
}

#content {
	margin: 0em 0 0 0em;
}

body {
	font-size:0.9em;
}

div.thumbcaption {
	display:none;
}

#moulin_search {
	display:block;
	position:fixed;
	right:0em;
	top:0em;
	padding:0.5em;
	margin:0;
	background-color:white;
	border-bottom: solid 1px black;
	border-left: solid 1px black;
	z-index: 3;
}

.thumb {
    display:none;
}

div#contentSub {
    display:none;
}

.error {
    display:none;
}
