Source: kiwix
Section: misc
Priority: optional
Maintainer: Emmanuel Engelhart <kelson@kiwix.org>
Build-Depends: binutils,
	debhelper,
	g++,
	libxapian-dev,
	libbz2-dev,
	libunac1-dev,
	xulrunner-dev,
	m4,
	zlib1g-dev,
	libmicrohttpd-dev,
	libtool
Standards-Version: 0.9

Package: kiwix
Architecture: any
Depends: debianutils, 
	 ${shlibs:Depends}, 
	 ${misc:Depends},
	 libunac1,
	 libxapian15,
	 xapian-tools,
	 xulrunner,
 	 zlib1g,
	 libbz2-1.0,
	 libmicrohttpd5
Recommends: 
Suggests: 
Conflicts: 
Replaces: 
Provides: 
Section: misc
Description: ZIM file reader. Allows to read and search through
 offline content in ZIM format, like Wikipedia for example.
