Source: kiwix
Section: misc
Priority: optional
Maintainer: Jorge Gonzalez <jag2kn@gmail.com>
Build-Depends: binutils,
	debhelper,
	g++,
	libxapian-dev,
	libbz2-dev,
	libicu-dev,
	liblzma-dev,
	xulrunner-1.9.2-dev,
	m4,
	zlib1g-dev,
	libmicrohttpd-dev,
	libtool,
	python-support
Standards-Version: 0.9

Package: kiwix
Architecture: any
Depends: debianutils, 
	 ${shlibs:Depends}, 
	 ${misc:Depends},
	 libicu42,
	 libxapian15,
	 xapian-tools,
	 xulrunner-1.9.2,
 	 zlib1g,
	 libbz2-1.0,
	 liblzma1,
	 libmicrohttpd5
Recommends: 
Suggests: 
Conflicts: 
Replaces: 
Provides: 
Section: misc
Description: Wikipedia offline reader
  Kiwix allows you to read and search through offline content
  as they were online. Similar to a browser, Kiwix works with
  the highly compressed ZIM file format.
