#!/usr/bin/make -f

config.status: configure
	dh_testdir
	./autogen.sh
	./configure --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs"

build: config.status 
	dh_testdir
	$(MAKE)
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp 
	$(MAKE) distclean

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs

	# Add here commands to install the package into debian/kiwix.
	$(MAKE) --prefix=$(CURDIR)/debian/kiwix install

binary:
	