 /* Faire apparaître les redirections en italique sur [[Special:Allpages]] */
 .allpagesredirect {
      font-style: italic;
 }
 
/* <pre> */

/* les nombre impairs représentent les espaces de discussion
 '0': 'Article', '1' : 'Discuter'
 '2': 'Utilisateur', '3' : 'Discussion utilisateur'
 '4': 'Wikipédia', '4' : 'Discussion Wikipédia'
 '6': 'Image', '5' : 'Discuter Image'
 '8': 'MediaWiki', '9' : 'Discussion MediaWiki'
 '10': 'Modèle', '10' : 'Discuter Modèle'
 '12': 'Aide', '13' : 'Discuter Aide'
 '14': 'Categorie', '15' : 'Discuter Catégorie'
 '100': 'Portail', '101': 'Discussion Portail'
 '102': 'Projet', '103' : 'Discussion Projet'
 '104': 'Référence', '105': 'Discussion Référence'


SOMMAIRE

I aspect général (les choses concernant l'affichage de toute l'encyclopedie)
I.1 Couleur de fond des différents namespace
I.2 gestion de la coloration indentatique
I.3 autre

II Divers (ce qui concerne un projet, un portail ou un bandeau particulier)

*/

/************************************************************/
/*                  ASPECT GENERAL                          */
/************************************************************/

/*-----------------------------------------*/
/*            COULEUR DE FOND              */
/*-----------------------------------------*/

/* par défaut : la couleur des pages de discussion 
   (ce qui évite donc d'avoir à redéfinir la couleur de la moitié des namespace)  */
#content, 
#p-cactions li, 
#p-cactions li a {
   background: #FFFFEE;
}

/* Special: (bleu ciel) */
.ns--1 #content, 
.ns--1 #p-cactions li, 
.ns--1 #p-cactions li a {
   background: #F8FCFF;
}
/* (main) */
.ns-0 * #content, 
.ns-0 * #p-cactions li, 
.ns-0 * #p-cactions li a { 
   background : white;
}

/* Utilisateur: */
.ns-2 * #content, 
.ns-2 * #p-cactions li, 
.ns-2 * #p-cactions li a {
   background : white;
}

/* Wikipédia:  */
.ns-4 * #content, 
.ns-4 * #p-cactions li, 
.ns-4 * #p-cactions li a {
   background: #F4F4F4;
}

/* Image: */
.ns-6 * #content, 
.ns-6 * #p-cactions li, 
.ns-6 * #p-cactions li a {
   background: white;
}

/* MediaWiki: */
.ns-8 * #content, 
.ns-8 * #p-cactions li, 
.ns-8 * #p-cactions li a {
   background: #EEEEFF;
}

/* Modèle: */
.ns-10 * #content, 
.ns-10 * #p-cactions li, 
.ns-10 * #p-cactions li a { 
   background: white;
}

/* Aide: */
.ns-12 * #content, 
.ns-12 * #p-cactions li, 
.ns-12 * #p-cactions li a {
   background: #FFEEEE;
}

/* Catégorie: */
.ns-14 * #content, 
.ns-14 * #p-cactions li, 
.ns-14 * #p-cactions li a {
   background: white;
}

/* Portail: */
.ns-100 * #content, 
.ns-100 * #p-cactions li, 
.ns-100 * #p-cactions li a {
   background: white;
}

/* Projet: */
.ns-102 * #content, 
.ns-102 * #p-cactions li, 
.ns-102 * #p-cactions li a {
   background: #F6F6F6;;
}


/* Référence: */
.ns-104 * #content, 
.ns-104 * #p-cactions li, 
.ns-104 * #p-cactions li a {
   background: #EEFFEE;
}


/* Style pour les pages de discussion ; gestion de la coloration indentative */
.ns-1 dd, .ns-3 dd, .ns-5 dd, .ns-7 dd, .ns-9 dd, 
.ns-11 dd, .ns-13 dd,.ns-15 dd, .ns-101 dd, .ns-103 dd, .ns-105 dd { 
   margin: 0;
   padding: 0;
}

.ns-1 dl, .ns-3 dl, .ns-5 dl, .ns-7 dl, .ns-9 dl, 
.ns-11 dl, .ns-13 dl, .ns-15 dl, .ns-101 dl, .ns-103 dl, .ns-105 dl { 
   border-top: solid 1px #F0F080; 
   border-left: solid 1px #F0F080; 
   padding-top: 0.5em; 
   padding-left: 0.5em; 
   margin-left: 1em; 
}

.ns-1 dl, .ns-3 dl, .ns-5 dl, .ns-7 dl, .ns-9 dl, 
.ns-11 dl, .ns-13 dl, .ns-15 dl, .ns-101 dl, .ns-103 dl, .ns-105 dl 
{ background-color: #FFFFE0; }

.ns-1 dl dl, .ns-3 dl dl, .ns-5 dl dl, .ns-7 dl dl, .ns-9 dl dl, 
.ns-11 dl dl, .ns-13 dl dl, .ns-15 dl dl, .ns-101 dl dl, .ns-103 dl dl, .ns-105 dl dl
{ background-color: #FFFFEE; }

.ns-1 dl dl dl, .ns-3 dl dl dl, .ns-5 dl dl dl, .ns-7 dl dl dl, .ns-9 dl dl dl, 
.ns-11 dl dl dl, .ns-13 dl dl dl, .ns-15 dl dl dl, .ns-101 dl dl dl, .ns-103 dl dl dl, .ns-105 dl dl dl
{ background-color: #FFFFE0; }

.ns-1 dl dl dl dl, .ns-3 dl dl dl dl, .ns-5 dl dl dl dl, .ns-7 dl dl dl dl,
.ns-9 dl dl dl dl, .ns-11 dl dl dl dl, .ns-13 dl dl dl dl, .ns-15 dl dl dl dl,
.ns-101 dl dl dl dl, .ns-103 dl dl dl dl, .ns-105 dl dl dl dl
{ background-color: #FFFFEE; }

.ns-1 dl dl dl dl dl, .ns-3 dl dl dl dl dl, .ns-5 dl dl dl dl dl, 
.ns-7 dl dl dl dl dl, .ns-9 dl dl dl dl dl, .ns-11 dl dl dl dl dl, 
.ns-13 dl dl dl dl dl, .ns-15 dl dl dl dl dl, .ns-101 dl dl dl dl dl, 
.ns-103 dl dl dl dl dl, .ns-105 dl dl dl dl dl
{ background-color: #FFFFE0; }

.ns-1 dl dl dl dl dl dl, .ns-3 dl dl dl dl dl dl, 
.ns-5 dl dl dl dl dl dl, .ns-7 dl dl dl dl dl dl, 
.ns-9 dl dl dl dl dl dl, .ns-11 dl dl dl dl dl dl, 
.ns-13 dl dl dl dl dl dl, .ns-15 dl dl dl dl dl dl, 
.ns-101 dl dl dl dl dl dl, .ns-103 dl dl dl dl dl dl, 
.ns-105 dl dl dl dl dl dl
{ background-color: #FFFFEE; }

.ns-1 dl dl dl dl dl dl dl, .ns-3 dl dl dl dl dl dl dl, 
.ns-5 dl dl dl dl dl dl dl, .ns-7 dl dl dl dl dl dl dl, 
.ns-9 dl dl dl dl dl dl dl, .ns-11 dl dl dl dl dl dl dl, 
.ns-13 dl dl dl dl dl dl dl, .ns-15 dl dl dl dl dl dl dl, 
.ns-101 dl dl dl dl dl dl dl, .ns-103 dl dl dl dl dl dl dl,
.ns-105 dl dl dl dl dl dl dl
{ background-color: #FFFFE0; }

.ns-1 dl dl dl dl dl dl dl dl, .ns-3 dl dl dl dl dl dl dl dl, 
.ns-5 dl dl dl dl dl dl dl dl, .ns-7 dl dl dl dl dl dl dl dl, 
.ns-9 dl dl dl dl dl dl dl dl, .ns-11 dl dl dl dl dl dl dl dl, 
.ns-13 dl dl dl dl dl dl dl dl, .ns-15 dl dl dl dl dl dl dl dl, 
.ns-101 dl dl dl dl dl dl dl dl, .ns-103 dl dl dl dl dl dl dl dl,
.ns-105 dl dl dl dl dl dl dl dl
{ background-color: #FFFFEE; }

.ns-1 dl dl dl dl dl dl dl dl dl, .ns-3 dl dl dl dl dl dl dl dl dl, 
.ns-5 dl dl dl dl dl dl dl dl dl, .ns-7 dl dl dl dl dl dl dl dl dl, 
.ns-9 dl dl dl dl dl dl dl dl dl, .ns-11 dl dl dl dl dl dl dl dl dl, 
.ns-13 dl dl dl dl dl dl dl dl dl, .ns-15 dl dl dl dl dl dl dl dl dl, 
.ns-101 dl dl dl dl dl dl dl dl dl, .ns-103 dl dl dl dl dl dl dl dl dl,
 .ns-105 dl dl dl dl dl dl dl dl dl 
{ background-color: #FFFFE0; }

.ns-1 dl dl dl dl dl dl dl dl dl dl, .ns-3 dl dl dl dl dl dl dl dl dl dl, 
.ns-5 dl dl dl dl dl dl dl dl dl dl, .ns-7 dl dl dl dl dl dl dl dl dl dl, 
.ns-9 dl dl dl dl dl dl dl dl dl dl, .ns-11 dl dl dl dl dl dl dl dl dl dl, 
.ns-13 dl dl dl dl dl dl dl dl dl dl, .ns-15 dl dl dl dl dl dl dl dl dl dl, 
.ns-101 dl dl dl dl dl dl dl dl dl dl, .ns-103 dl dl dl dl dl dl dl dl dl dl,
.ns-105 dl dl dl dl dl dl dl dl dl dl 
{ background-color: #FFFFEE; }





/************************************************************
 *            Style de l'interface de Wikipédia
 ************************************************************/

/* Soulignement léger pour les sous-parties */
h3 { 
   border-bottom: dotted 1px #aaa;
}

h4, h5, h6 { 
   border-bottom: dotted 1px #ddd;
}

/* Fenêtres arrondies (pour les navigateurs moz/firefox/gecko) */
.pBody {
   padding: 0.3em 0.1em;
   -moz-border-radius-topright: 0.5em;
}

.portlet h5 {
   background-color: #e0e3e6;
   border: thin solid silver;
   -moz-border-radius-topright: 0.5em;
}
#p-cactions ul li, #p-cactions ul li a {  
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-topleft: 0.5em;
}

/* interlignage des titres de pages : utile pour les titres « à rallonge » */
.firstHeading {line-height: 1.2em}


/* correction du bug de bordure blanche en attendant une mise a jour du site */
div.floatleft, table.floatleft {
    float: left;
    position: relative;
    margin: 0em 0.5em 0.5em 0em;
    border: 0;
}

div.floatright, table.floatright {
    clear: right;
    float: right;
    position: relative;
    margin: 0em 0em 0.5em 0.5em;
    border: 0;
}



/* permet dans l'actualité de mettre en surbrillance le jour courant */

.j11, .j1er1, .j22, .j33, .j44, .j55, .j66, .j77, .j88, .j99, .j1010,
.j1111, .j1212, .j1313, .j1414, .j1515, .j1616, .j1717, .j1818, .j1919, .j2020,
.j2121, .j2222, .j2323, .j2424, .j2525, .j2626, .j2727, .j2828, .j2929, .j3030,
.j3131 
{
   background: #d7ecff !important
}

/* Style boîte login */
form#userlogin {
  padding: 1em 1em .7em 1em;
  background-color: #ffffe6;
  border: 2px solid #fc6;
  color: #000;
  margin-right: 2em;
}

form#userlogin table {
  background-color: #ffffe6;
  color: #000;
}

/* Standard Navigationsleisten */

div.BoxenVerschmelzen,
div.NavFrame {
        margin: 0px;
        padding: 2px;
        border: 1px solid #aaaaaa;
        text-align: center;
        border-collapse: collapse;
        font-size: 95%;
}
div.BoxenVerschmelzen div.NavFrame {
        border-style: none;
        border-style: hidden;
}
div.NavFrame + div.NavFrame {
        border-top-style: none;
        border-top-style: hidden;
}
div.NavPic {
        background-color: #ffffff;
        margin: 0px;
        padding: 2px;
        float: left;
}
div.NavFrame div.NavHead {
        height: 1.6em;
        font-weight: bold;
        font-size: 100%;
        background-color: #efefef;
}
div.NavFrame p {
        font-size: 100%;
}
div.NavFrame div.NavContent {
        font-size: 100%;
}
div.NavFrame div.NavContent p {
        font-size: 100%;
}
div.NavEnd {
        margin: 0px;
        padding: 0px;
        line-height: 1px;
        clear: both;
}

.NavToggle {
   font-size: x-small;
   float:right;

}


/* pour harmoniser les exposants */
.exposant { vertical-align: text-top; }


/* Place un damier de vérification en arrière-plan dans la page de description de l'image, visible seulement en cas d'image transparente ou semi-transparente */
#file img {background: url(chrome://moulin/content/img/Checker-16x16.png) repeat;}

/* dans special:allpages et special:watchlist, rendre plus visible les pages étant des redirects (allpagesredirect est déjà en italique par défaut) */
.allpagesredirect a,
.watchlistredir a  {
color:green;
}

/* Mise en gras de "modifier cette page" (copié de en:) */
#ca-edit a { font-weight: bold !important; }

/* BEGIN Diff rendering */
table.diff {
  padding: 0.5em;
}
table.diff td { 
   vertical-align: top;
}
td.diff-addedline { 
   background:#D8E4F6; 
}
td.diff-addedline span.diffchange {
   background: #B0C0F0;
   color: #001040;
   font-weight: bold;
}
td.diff-deletedline {
   background:#E4F6D8;
}
td.diff-deletedline span.diffchange {
   background: #B0E897;
   color: #104000;
   font-weight: bold;
}
td.diff-context {
   background:#FEFEFE;
}
/* END Diff rendering */

/* CSS pour les modèles de coordonnées  */

#coordinates {  
  border:none; background:none; top:0.3em; margin:0.0em;
  padding:0.0em; line-height:1.5em; text-align:right; text-indent:0; font-size:85%; text-transform:none; white-space:nowrap;
}

/************************************************************
 * Style du projet Egyptopedia
 ************************************************************/

/* Cadre du calendrier */
div.egy_calendrier#cadre {
	border:1px solid #CCCC99; 
	background: #FFFFFF; 
	text-align: center; 
	font-size: smaller;
}

/* Style du lien du calendrier */
div.egy_calendrier#lien {
	background: #CCCC99; 
	padding: 0.2em; 
}

/* Style de la saison du calendrier */
div.egy_calendrier#saison {
}

/* Style du mois du calendrier */
div.egy_calendrier#mois {
}

/* Style du jour du calendrier */
div.egy_calendrier#jour {
    font-size: medium; 
}

/* Style des tableaux de navigation */
table.egyleft, .egybox {
    float: right; 
    margin: 0.5em 0.5em 1em 1em; 
    border: 1px solid #aaaa80; 
    background: #efefdd; 
    text-align: center; 
    width: 170px;
}

table.egyptopedia {
    float: right; 
    margin: 0.5em 0.5em 1em 1em; 
    border-width: 1px;
    border-style: solid;
    border-color: #AAAA80;
    border-collapse: collapse;
    background-color: #EFEFDD;
    text-align: center;
    width: 170px;
}

table.egyptopedia th, table.egyptopedia td {
    border-width: 1px;
    border-style: solid;
    border-color: #AAAA80;
    border-collapse: collapse;
}

/************************************************************/
/*
 * Divers
 */


/*
 * BUG: l'id doit être unique sur le document. Ainsi les pages contenant
 * deux alertes avec pour id style1 sont invalides.
 * 
 * On pourrait utiliser à la place les classes alerte_style1, alerte_style2 . 
 */

/* Styles des messages d'alerte */
div.alerte#style2 { padding:0.5em; background:#FFFFDD; }

/* Styles pour [[Prise de décision/Harmonisation des messages d'avertissement]] */
div.alerte#style1 { padding:0.5em; }
div.alerte#style3 { padding:0.5em; border:solid 1px #808080; background:#F0F0F0; }
div.alerte#style4 { padding:0.5em; background-color:#f7f8ff; border:1px solid #8888aa; border-right-width:2px; border-bottom-width:2px; }
div.alerte#style5 { padding:0.5em; border: 1px red dashed; }
div.alerte#style6 { padding:0.5em; background: #ffdab9; border: 1px solid #cdcdcd; }
div.alerte#style7 { padding:0.5em; border:dotted 1mm red; }
div.alerte#style8 { padding:0.5em; border:dotted 1mm red; background:yellow; }
div.alerte#style9 { padding:0.5em; background:#f0f0ff; }

/* même chose que ci dessus mais sans id */
div.alerte.style1 { padding:0.5em; }
div.alerte.style2 { padding:0.5em; background:#FFFFDD; }
div.alerte.style3 { padding:0.5em; border:solid 1px #808080; background:#F0F0F0; }
div.alerte.style4 { padding:0.5em; background-color:#f7f8ff; border:1px solid #8888aa; border-right-width:2px; border-bottom-width:2px; }
div.alerte.style5 { padding:0.5em; border: 1px red dashed; }
div.alerte.style6 { padding:0.5em; background: #ffdab9; border: 1px solid #cdcdcd; }
div.alerte.style7 { padding:0.5em; border:dotted 1mm red; }
div.alerte.style8 { padding:0.5em; border:dotted 1mm red; background:yellow; }
div.alerte.style9 { padding:0.5em; background:#f0f0ff; }


/* Point pour la carte du monde */
div.PointCarte {
   position:absolute;
   width:1px;
   height:1px;
   background:#000000;
   border: 1px solid #FFFFFF;    
}

/* Style des boites de l'accueil */
.boite-accueil-haut
{
  background-color: #C8D8FF; 
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: small; 
  font-weight: bold; 
  border: 1px solid #AAAAAA; 
  padding-bottom: 2px; 
  padding-left: 2px; 
  padding-top: 2px;
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-topleft: 0.5em;
}

/* Tableau gris. */

table.wikitable {
  margin: 1em 1em 1em 0;
  background: #f9f9f9;
  border: 1px #aaaaaa solid;
  border-collapse: collapse;
}
table.wikitable th, table.wikitable td {
  border: 1px #aaaaaa solid;
  padding: 0.2em;
}
table.wikitable th {
  background: #f2f2f2;
  text-align: center;
}
table.wikitable caption {
  margin-left: inherit;
  margin-right: inherit;
}
/* Style des chiffres romains */
.romain
{
  text-transform:lowercase;
  font-variant:small-caps;
}

/************************************************************/

/*
 * Classes pour portails modulaires
 */

/* une case typique pour portail modulaire */
.portailCase {
  border: 1px solid #aaaaaa;
  display: block;
  margin: 5px 0;
  padding:0px;
  padding-bottom:1px;
  vertical-align: top;
  width: 100%;
}

/* le titre de cette case, apparaissant sur un fond différent */
.portailCase h2 {
  font-weight:bold;
  font-size:100%;
  margin:0 0;
  margin-bottom:5px;
  padding:4px;
  text-align:center;
}

/*le lien editer (en bas) tout à droite */
.portailLienEdition {
  display:block;
  font-size:x-small;
  text-align:right;
  clear:both;
}

/*la classe suivantes est destinee a remplacer la classe portailCase */
.portailCase_v2 {
  border:1px solid #AAAAAA;
  color:#000000;
  font-size:100%;
}

h2.portailCase_v2 {
  font-weight:bold;
  margin:0px;
  padding:3px;
  text-align:center;
}

div.portailCase_v2 {
  border-top:0px solid white;
  margin-bottom:1ex;
  padding:5px 5px 0 5px;
}

/********/
/* enlever les liens modifer (encadrez la zone de <div class=noeditsection></div>). Voir notamment [[Portail:Biologie/Les articles]] */
div.noeditsection div.editsection {
  display: none;
}

/************************************************************/
/* styles pour changer la couleur de liens (encadrez les liens de <div class=lienNoir></div>). Voir notamment [[Portail:Biologie/Les articles]] */
.lienNoir a {
  color: black;
}

.lienNoir a:visited {
  color: #707070;
}

/************************************************************/

/* style pour les images */
div.fairuse div div {
  background-color:#FF8080;
}

/*div.thumb div { background:none; }
div.thumb div div { background:rgb(249, 249, 249); }*/

/* Norme bibliographique */
.BibList    { display:block; }
.WikiNorme  { display:none; }
.BibTeX     { display:none; }
.ISBD       { display:none; }
.ISO690     { display:none; }
.specialBib { display:none; }

/* Style du texte de {{Modèle:Détail}} */
.detail { margin-left:1em; font-style: italic; }

/* Style des exemples */
.exemple { margin:0.5em; padding:0.5em; border:dashed 1px lightblue; background-color:white; }

/* Style par defaut pour les boites d'avancement */
.avance_boite {
   position:relative;
   margin:0; 
   padding:0; 
   width:100px; 
   height:16px; 
   background:lightgray; 
   border:solid 1px gray;
}

.avance_barre {
   position:relative;
   margin:0; 
   padding:0; 
   height:100%; 
   background:#A0A0FF;
   border:0;
   vertical-align:middle;
}

.avance_texte {
   position:absolute; 
   top:0; 
   left:0;
   width:100px; 
   height:100%; 
   margin:0; 
   padding:0; 
   text-align:center;
   vertical-align:middle;
   font-size:14px;
   border:0;
}

/* cacher les crochets pour les notes par defaut */
.cite_crochet { display: none; }

/************************/
/* styles CommonsTicker */
/************************/
 
/* liens */
.tickerDiffLink { } /* diff links in ticker */
.tickerMiscLink { } /* misc links in ticker */

/* suppression des puces des listes */
.tickerList ul,    .tickerList ul li    { list-style: none; text-indent:-2em; margin-left:2em;   text-align:left; }
.tickerList ul ul, .tickerList ul ul li { list-style: none; text-indent:0;    margin-left:1.5em; text-align:left; }

/* styles par types */
.tickerEntry_deleted     { }  /* entry for image deletion */
.tickerEntry_replaced    { }  /* entry for image replacement */
.tickerEntry_tagged      { }  /* entry for adding/removing problem tags */
.tickerEntry_redir       { }  /* entry for critical redirection (fot tag redirects) */
.tickerEntry_recat       { }  /* entry for critical re-categorization (for tag categories) */
.tickerEntry_notify      { }  /* entry for global notifications */
.tickerEntry_changed     { }  /* entry for generic change */

/* styles par actions */
.tickerAction_deleted:before     { content:" SUPPR "; color: #FF0000; font-family:monospace; font-weight:bold; font-size:100%; }  
.tickerAction_deletedRev:before  { content:" -OLD "; color: #DDAAAA; font-family:monospace; font-weight:bold; font-size:100%; }  
.tickerAction_replaced:before    { content:" REMPL "; color: #CC88FF; font-family:monospace; font-weight:bold; font-size:100%; }  
.tickerAction_replacedOwn:before { content:" MÀJ "; color: #EEAAFF; font-family:monospace; font-weight:bold; font-size:100%; }  
.tickerAction_addedBad:before    { content:" +PàS "; color: #FF8800; font-family:monospace; font-weight:bold; font-size:100%; }  
.tickerAction_removedBad:before  { content:" -PàS "; color: #00BB00; font-family:monospace; font-weight:bold; font-size:100%; }  
.tickerAction_addedGood:before   { content:" +OK  "; color: #00BB00; font-family:monospace; font-weight:bold; font-size:100%; }  
.tickerAction_removedGood:before { content:" -OK  "; color: #FF8800; font-family:monospace; font-weight:bold; font-size:100%; }

/* liste d'utilisation */
.tickerUsage  { font-size:80%; }  

/* entry applies to a template used by multiple images */
.tickerTemplateEntry    { font-weight: bold; } 

/* entry applies to sub-entries, i.e. images that use a specific template */
.tickerSubEntry         { }                       

/* divers styles */ 
.tickerMinorEntry  { color:#666; }     /* minor entry */
.tickerMinorEntry a,
.tickerMinorEntry a:link,
.tickerMinorEntry a:visited { color:#669; }
#bodyContent .tickerMinorEntry a.extiw,
#bodyContent .tickerMinorEntry a.extiw:link,
#bodyContent .tickerMinorEntry a.extiw:visited { color:#669; }


/* </pre> */

/* generated user stylesheet */
a.new, #quickbar a.new { color: #CC2200; }
.editsection { display: none; }

