/* Menuitems */
#file-open {
    list-style-image: url('img/fileopen.png');
}

#file-print {
    list-style-image: url('img/print.png');
}

#file-quit {
    list-style-image: url('img/quit.png');
}

#edit-find {
    list-style-image: url('img/find.png');
}

#edit-selectall {
    list-style-image: url('img/selectall.png');
}

#edit-copy {
    list-style-image: url('img/copy.png');
}

#help-about {
    list-style-image: url('img/about.png');
}

/* toolbar */
#toolbar {
    height: 40px;
}

/* Buttons */
#button-back {
    list-style-image: url('img/back.png');
    width: 38px;
}

#button-next {
    list-style-image: url('img/next.png');
    width: 38px;
}

#button-home {
    list-style-image: url('img/home.png');
    width: 38px;
}

#button-search {
    list-style-image: url('img/search.png');
    width: 38px;
}

/* textbox search */
#texbox-search {
    max-height: 32px;
    width: 100%;
}

/* main window*/
#main {
  width: 1000px;
  height: 800px;
  margin: 0;
  padding: 0;
  -moz-appearance: none; 
  background-color: #D2D2D2;
}
