/* Menuitems */
#file-open {
    list-style-image: url("moz-icon://stock/gtk-open?size=menu");
}

#file-print {
    list-style-image: url("moz-icon://stock/gtk-print?size=toolbar");
}

#file-quit {
    list-style-image: url("moz-icon://stock/gtk-quit?size=menu");
}

#edit-find {
    list-style-image: url("moz-icon://stock/gtk-find?size=menu");
}

#edit-selectall {
    list-style-image: url("moz-icon://stock/gtk-select-all?size=menu");
}

#edit-copy {
    list-style-image: url("moz-icon://stock/gtk-copy?size=menu");
}

#display-zoomin {
    list-style-image: url("moz-icon://stock/gtk-zoom-in?size=menu");
}

#display-zoomout {
    list-style-image: url("moz-icon://stock/gtk-zoom-out?size=menu");
}

#display-zoomorig {
    list-style-image: url("moz-icon://stock/gtk-zoom-100?size=menu");
}

#help-help {
    list-style-image: url("moz-icon://stock/gtk-help?size=menu");
}

#help-about {
    list-style-image: url("moz-icon://stock/gtk-about?size=menu");
}

/* Tool bar */
#toolbar {

}

/* Buttons */
#button-back {
    list-style-image: url("moz-icon://stock/gtk-go-back?size=toolbar");
}
#button-back.disabled {
    list-style-image: url("moz-icon://stock/gtk-go-back?size=toolbar&state=disabled");
}

#button-next {
    list-style-image: url("moz-icon://stock/gtk-go-forward?size=toolbar");
}
#button-next.disabled {
    list-style-image: url("moz-icon://stock/gtk-go-forward?size=toolbar&state=disabled");
}

#button-home {
    list-style-image: url("moz-icon://stock/gtk-home?size=toolbar");
}
#button-home.disabled {
    list-style-image: url("moz-icon://stock/gtk-home?size=toolbar&state=disabled");
}

#button-search {
    list-style-image: url("moz-icon://stock/gtk-find?size=toolbar");
}
#button-search.disabled {
    list-style-image: url("moz-icon://stock/gtk-find?size=toolbar&state=disabled");
}

/* Textbox search */
#textbox-search {
    margin: 6px;
    width: 100%;
}

/* Main window*/
#main {
    margin: 0;
    padding: 0;
}

/* Results bar */
#results-bar {
    margin-top: 3px;
    min-width: 150px;
    max-width: 450px;
    width: 200px;
}

#results-list {
    margin-left: 0px;
}

#results-close-button {
    list-style-image: url("moz-icon://stock/gtk-close?size=menu");
}

.results-button {
    margin: 0px;
    -moz-box-flex: 1;
}

/* Status bar */
#status-bar {
    height: auto;
    margin: 0px;
    padding-top: 5px;
}

#earth-icon {
    list-style-image: url('img/earth.png');
}

#book-icon {
    list-style-image: url("moz-icon://stock/gtk-floppy?size=menu");
}

#progress-bar {
    width: 200px;
}

#progress-bar-label {
    margin-top: 3px;
    text-align: center;
}
