/* Menuitems */
#file-open {
    list-style-image: url('img/fileopen.png');
}

#file-print {
    list-style-image: url('img/print.png');
}

#file-quit {
    list-style-image: url('img/quit.png');
}

#edit-find {
    list-style-image: url('img/find.png');
}

#edit-selectall {
    list-style-image: url('img/selectall.png');
}

#edit-copy {
    list-style-image: url('img/copy.png');
}

#display-zoomin {
    list-style-image: url('img/zoomin.png');
}

#display-zoomout {
    list-style-image: url('img/zoomout.png');
}

#display-zoomorig {
    list-style-image: url('img/zoomorig.png');
}

#help-about {
    list-style-image: url('img/about.png');
}

/* Tool bar */
#toolbar {
    height: 30px;
}

/* Buttons */
#button-back {
    list-style-image: url('img/back.png');
    width: 40px;
    height: 28px;
}

#button-next {
    list-style-image: url('img/next.png');
    width: 40px;
    height: 28px;
}

#button-home {
    list-style-image: url('img/home.png');
    width: 40px;
    height: 28px;
}

#button-search {
    list-style-image: url('img/search.png');
    width: 40px;
    height: 28px;
}

/* Textbox search */
#textbox-search {
    margin: 6px;
    width: 100%;
}

/* Main window*/
#main {
    margin: 0;
    padding: 0;
}

/* Results bar */
#results-bar {
    margin-top: 3px;
    min-width: 150px;
    max-width: 450px;
    width: 200px;
}

#results-list {
    margin-left: 0px;
}

#results-close-button {
    width: 20px;
    height: 20px;
    list-style-image: url('img/close.png');
}

.results-button {
    margin: 0px;
    -moz-box-flex: 1;
}

/* Status bar */
#status-bar {
    height: 23px;
    margin: 0px;
    padding-top: 5px;
}

#earth-icon {
    list-style-image: url('img/earth.png');
}

#book-icon {
    list-style-image: url('img/book.png');
}

#progress-bar {
    width: 200px;
}

#progress-bar-label {
    margin-top: 3px;
    text-align: center;
}