window {
    position: relative;
}

#menu-bar, #status-bar, #tab-headers,
#button-home, #button-back, #button-next, #button-sizeup, #button-sizedown,
#button-print, #button-bookmarks, #button-fullscreen, #button-search-article,
#button-library,
#bookmarks-bar-header, #bookmarks-toolbar, #bookmarks-sets-list, #notesLabel, #notesTextBox  { display: none; }

#tool-box {
    margin: 0;
    padding: 0;
    background-color: red !important;
}

#sugar-tool-bar {
    margin: 0;
    padding: 0;
    background-color: blue !important;
}

#tool-box * toolbarbutton {
    -moz-appearance: none !important;
    border: none;
    margin-left: 1px;
    margin-right: 1px;
}

#tool-box * toolbarbutton:hover {
    background-color: black;
}

tabpanels {
    padding: 0 !important;
}

#sugar-button-quit { list-style-image: url("moz-icon://stock/activity-stop?size=toolbar"); }
#sugar-button-find { list-style-image: url("moz-icon://stock/view-list?size=toolbar"); }
#sugar-button-back { list-style-image: url("moz-icon://stock/go-previous-paired?size=toolbar"); }
#sugar-button-next { list-style-image: url("moz-icon://stock/go-next-paired?size=toolbar"); }
#sugar-button-sizeup { list-style-image: url("moz-icon://stock/gtk-zoom-in?size=toolbar"); }
#sugar-button-sizedown { list-style-image: url("moz-icon://stock/gtk-zoom-out?size=toolbar"); }
#sugar-button-fullscreen { list-style-image: url("moz-icon://stock/gtk-fullscreen?size=toolbar"); }
#sugar-button-options { list-style-image: url("moz-icon://stock/view-source?size=toolbar"); }
#sugar-button-bookmark, #sugar-button-bookmark.unmarked { list-style-image: url("moz-icon://stock/emblem-favorite?size=toolbar"); }
#sugar-button-bookmark.marked { list-style-image: url("chrome://main/skin/icon/emblem-favorite_on.png"); }
#sugar-button-display { list-style-image: url("moz-icon://stock/toolbar-view?size=toolbar"); }
#sugar-button-bookmarks, #sugar-button-bookmarks.hidden { list-style-image: url("moz-icon://stock/tray-show?size=toolbar"); -moz-transform:rotate(90deg); }
#sugar-button-bookmarks.visible { -moz-transform:rotate(-90deg); }
#sugar-button-copy { list-style-image: url("moz-icon://stock/gtk-copy?size=toolbar"); }

#tool-box {
    -moz-appearance: none !important;
    padding-bottom: 0;
    margin-bottom: 0;
}

#sugar-display-toolbar {
    -moz-appearance: none !important;
    background-color: #282828;
    border-top: 2px solid GrayText !important;
    padding-bottom: 0;
    margin-bottom: 0;
    display: none;
}

#sugar-button-display, #sugar-button-display.close {
    border: 2px solid transparent;
    border-bottom: none;
}

#sugar-button-display.open {
    border: 2px solid GrayText;
    border-bottom: none;
}

window * toolbar {
    border: none;
    padding: 0;
    margin: 0;
}

/* Tabs */
tab { margin-left: 1em; }
#tab-headers tab.tab-header:first-child { margin-left: 0px; }
tab[selected="true"] label { font-weight: bold; }
#tabs-add-button { display: none; }
toolbarbutton[id^='tab-close-button'] { display: none; }

/* Textbox search */
#textbox-search {
    margin: 6px;
    width: 100%;
}

#main.mac #textbox-search {
	-moz-appearance: none;
	background-color: #f1f1f1;
	border: 1px solid #dedede;
	padding-left: .5em;
	padding-right: .5em;
	-moz-border-radius: 1em;
}

#textbox-search-go-button {
    list-style-image: url("chrome://main/skin/icon/magnify16.png");
    margin-right: 2px;
    cursor: pointer;
}

