[Desktop Entry]
Name=Kiwix
GenericName=Kiwix
Comment=Wikipedia offline reader
Exec=kiwix
Terminal=false
Type=Application
Icon=kiwix.png
Categories=GNOME;Education;
StartupNotify=false
